{% extends 'mainapp/base.html' %}

{% block title %}
     <title>{{ title.category_name|default:"Все категории" }}</title>
{% endblock %}

{% block content %}
    {% include 'mainapp/include/category_menu.html' %}
    <div class="prod_list">
        {% for item in object_list %}
            <div class="product_column">
                <div class="product_item">
                    <div class="product_item_img">
                         <img src="{{ item.img.url }}" alt="">
                    </div>
                    <div class="product_item_info">
                        <div class="product_item_title"><h2>{{ item.name|upper }}</h2></div>
                        <div class="product_item_descrip">{{ item.full_desc }}</div>
                        <div class="product_item_price">{{ item.price }} руб.</div>
                        <div class="product_item_button">
                            <a href="#"><i class="fa-solid fa-cart-arrow-down fa-xl"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}